:root {
  --basic-color: #ffc2c2;
  --branding-color: #ff2e63;
  --background-color: #f9f7fe;
  --secondary-branding-color: #000066;
  --heading-font-family: "Jura", sans-serif;
  --default-font-family: "Work Sans", sans-serif;
}
body {
  background-color: var(--background-color);
}
.title-page {
  background-image: url(images/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg);
  background-size: cover;
}
p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: normal;
  color: var(--basic-color);
}

.main {
  text-align: center;
  padding: 160px 20px;
  margin-top: -50px;
}

.main h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 96px;
  margin-top: -20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000066;
}
.main h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  color: var(--basic-color);
}

.main-page {
  background-color: var(--background-color);
}
.content-container {
  padding: 50px 20px;
}


.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
}
.work-description {
  font-family: var(--heading-font-family);
  margin-bottom: 50px;
  font-size: 64px;
  line-height: 80px;
}


div .btn-branding {
  box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
cursor: pointer;
font-family: var(--default-font-family);
font-size: 0.950em;
line-height: 27px;
margin: 0 20px;
padding: 10px 20px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
border-color: var(--branding-color);
color: #fff;
box-shadow: 0 0 40px 40px var(--branding-color) inset, 0 0 0 0 var(--branding-color);
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
div .btn-branding:hover {
color: var(--branding-color);
box-shadow: 0 0 10px 0 var(--branding-color) inset, 0 0 10px 4px var(--branding-color);
}
div .btn-branding:hover, div .btn-branding:focus {
outline: 0;
}


.name-project {
  font-size: 60px;
  font-family: var(--heading-font-family);
  margin-bottom: 55px;
}

nav {
  padding: 0;
}
.logo {
  max-height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
}
nav a {
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  color: var(--basic-color);
  transition: all 100ms ease-in-out;
  position: relative;
  cursor: pointer;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--basic-color);
  transition: width 0.5s;
}
nav a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--branding-color);
  transition: width 0.5s;
}

.m-5 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
div .mb-5 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.description {
  padding: 0 60px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-branding-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
  font-size: 18px;
}
footer h4 {
  font-size: 48px;
  color: white;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  color: var(--branding-color);
  background-color: var(--background-color);
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
@media (max-width: 900px) {
  .main h1 {
    font-size: 50px;
    line-height: 56px;
  }
  .description h2 {
    font-size: 44px;
  }
  .description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
