:root {
  --basic-color: #272142;
  --branding-color: #6c63ff;
  --background-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: normal;
  color: var(--basic-color);
}

.main {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}
.main h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-size: 96px;
  margin-top: -20px;
}
.main h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  color: var(--basic-color);
}

.btn {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
div .btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}

.name-project{
  font-size: 64px;
  font-family: var(--heading-font-family);
  margin-bottom: 55px;
}

.m-5 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
div .mb-5 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
div .btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}

.description {
  padding: 0 60px;
}

@media (max-width: 900px) {
  .main h1 {
    font-size: 50px; 
    line-height: 2; 
  }
  .description h2 {
    font-size: 44px;
  }
  .description {
    padding: 0;
    text-align: center;
  }
}